* {
    border: none;
    border-radius: 1em;
    font-family: EB Garamond;
    font-size: 1.06em;
    min-height: 0.5em;
    text-shadow: 0 0 .15em black;
    margin: .1em;
}

window#waybar {
    background: rgba(43, 48, 59, 0);
    border: 0px solid rgba(100, 114, 125, 0.5);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    background: #64727D;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #64727D;
}

#battery {
    color: white;
}

#battery.charging {
    color: white;
    border: .1em solid green;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
